.info_message {
    background-color: #fffb38;
    padding: 6px;
}

.show_list_item {
    padding-bottom: 15px;
}

.nousa_content {
    margin: 8px;
}

.form_list_margin {
    margin-right: 10px;
}

.show_info {
    display: flex;
}