.info-message {
    color: #212529;
    text-align: center;
    background-color: #fffb38;
    padding: 6px;
}

.nousa-content {
    margin: 8px;
}

.search-result-container {
    border-top: lightgrey;
    /*padding: 10px;*/
    margin-bottom: 10px;
    display: flex;
}

.search-result-image {
    height: auto;
    max-width: 48%;
    margin-right: 10px;
}

.search-result-text {
    height: auto;
    max-width: 48%;
    margin-right: 10px;
}

.search-result-title-button {
    display: flex;
}

.search-box {
    margin-top: 20px;
}

.list-container {
    display: flex; /* Create a flex container for the list name and form */
    justify-content: space-between; /* Push the list name to the left and form to the right */
    align-items: center; /* Vertically center the content */
    padding: 20px; /* Optional: Add padding around the container */
}

.list-name-container {
    flex-grow: 1; /* Allow this div to take up the remaining space on the left */
    margin-right: 20px; /* Optional: Add some space between the list name and form */
    max-width: 70%;
}

.create-list-container {
    display: flex;
    flex-direction: column; /* Keeps the header and form stacked vertically */
    align-items: flex-end; /* Align the content to the right */
    max-width: 29%; /* Optional: Set a width to prevent the form from stretching too much */
    margin-left: auto; /* Align the form container to the right side */
}

.thClickable {
    cursor: pointer;
    text-decoration: none;
}

.thClickable:hover {
    color: #acacac;
    text-decoration: none;
}

.sort-icon {
    font-size: 1em; /* Smaller icon size */
    margin-left: 5px; /* Space between text and icon */
}