.info-message {
    color: #212529;
    text-align: center;
    background-color: #fffb38;
    padding: 6px;
}

.nousa-content {
    margin: 8px;
}

.search-result-container {
    border-top: lightgrey;
    /*padding: 10px;*/
    margin-bottom: 10px;
    display: flex;
}

.search-result-image {
    height: auto;
    max-width: 48%;
    margin-right: 10px;
}

.search-result-text {
    height: auto;
    max-width: 48%;
    margin-right: 10px;
}

.search-result-title-button {
    display: flex;
}

.search-box {
    margin-top: 20px;
}
