<header>
    {% if request.query_params %}
      <p class="info_message">{{ request.query_params.message }}</p>
    {% endif %}
    {% if message %}
        <p class="info_message">{{ message }}</p>
    {% endif %}
    <nav class="navbar navbar-expand-xxl bg-body-tertiary">
        <div class="container-fluid">
          <a title="en net oars" class="navbar-brand" href="/">nousa</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
              <li class="nav-item">
                <a class="nav-link" href="/series">shows</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/archive">archive</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/subscribe">ical feed</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>