        {% include 'header.html' %}
        <div class="container-sm">
            <form class="search-box" action="/search" method="post">
                <div class="input-group input-group-lg">            
                    <input type="text" id="seriesName" name="seriesName" class="form-control" placeholder="Search for.. {{ popular_tv_shows | random }}?" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">search</button>        
                </div>
            </form>
        </div>
        {% include 'footer.html' %}