{% include 'head.html' %}
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% include 'header.html' %}
    <div class="nousa_content">
        <h1>search show</h1>
        <form action="/search" method="post">
            <input type="text" id="seriesName" name="seriesName" placeholder="The Big Bang Theory">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</body>
</html>