{% include 'header.html' %}
<div class="nousa-content">
    <h1>Recommended Shows</h1>
    
    {% if not check_env_vars_ok and check_env_vars_msg and not jellyfin_series and not jellyfin_online %}
        {% if check_env_vars_msg %}
            <h5>⚠️ {{ check_env_vars_msg }}</h5>
            </br>
        {% endif %}
        <p>To retrieve jellyfin_series add your Jellyfin environment variables</p>
        <p>Content is being refreshed every first day of the month</p>

    {% elif check_env_vars_ok and not jellyfin_online %}
        <h5>❌ Environment variables have been set but the connection to Jellyfin Media Server could not be established.</h5>

    {% elif jellyfin_online and not jellyfin_series %}
        <h5>✅ Connected to Jellyfin Media Server</h5>
        <p>Content is being refreshed every first day of the month</p>

    {% elif jellyfin_series %}

        <ul>

            {% if not jellyfin_online %}
                <h5>❌ Could not connect to the Jellyfin Media Server</h5>
                <h6>Check your environment variables</h6>
            {% else %}
                <h5>✅ Jellyfin Media Server is online</h5>
            {% endif %}

            {% for recommendation in jellyfin_series.values() %}

                <li class="jelly-li">

                    <!-- Left side: image -->
                    <img src="{{ recommendation.ImgUrl }}" alt="cover" style="width: 150px; height: auto; border-radius: 8px;">

                    <!-- Right side: content -->
                    <div>
                        <strong>{{ recommendation.Name }}</strong>
                        <br>{{ recommendation.PremiereDate[:4]}}-<br>
                        <strong>Status:</strong> {{ recommendation.Status }}<br>
                        {{ recommendation.Overview|safe }}<br>

                        <form id="{{ recommendation.Id }}" action="/search?q={{ recommendation.Name }}" method="post" style="margin-top: 10px;">
                            <div>
                                <button type="search" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                    
                </li>

            {% endfor %}

        </ul>

    {% endif %}
</div>
{% include 'footer.html' %}