{% include 'header.html' %}
<div class="nousa-content">
    <h1>Recommended Shows</h1>
    {% if recommendations %}
        <ul>
            {% for recommendation in recommendations %}

            <li class="jelly-li">
                <!-- Left side: image -->
                <img src="{{ recommendation.url_img_medium }}" alt="cover" style="width: 150px; height: auto; border-radius: 8px;">

                <!-- Right side: content -->
                <div>
                    <strong>{{ recommendation.series_name }}</strong>
                    <br>{{ recommendation.year_start }}-{{ recommendation.year_end or "" }}<br>
                    <strong>Status:</strong> {{ recommendation.status }}<br>
                    {{ recommendation.description|safe }}<br>

                    <form action="/add_show" method="post" style="margin-top: 10px;">
                        <input type="hidden" name="series-id" value="{{ recommendation.series_id }}">
                        <input type="hidden" name="series-name" value="{{ recommendation.series_name }}">

                        <!-- Dropdown and button -->
                        <div class="jelly-dropdown">
                            <label for="list-select-{{ recommendation.series_id }}" style="margin: 0; min-width: 100px;">Choose a list:</label>
                            <select id="list-select-{{ recommendation.series_id }}" name="list-id" class="form-control" required>
                                {% for list in lists %}
                                    {% if (list.list_id, recommendation.series_id) not in existing_pairs %}
                                        <option value="{{ list.list_id }}">{{ list.list_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">Add to my shows</button>
                        </div>
                    </form>
                </div>
            </li>
            
            {% endfor %}
        </ul>
    {% else %}
        <h3>To retrieve recommendations add your Jellyfin environment variables</h3>
    {% endif %}
</div>
{% include 'footer.html' %}