    {% include 'header.html' %}
    <div class="nousa-content">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for show in myarchive %}
                <tr>
                    <form action="/delete_show" method="post">
                    <td>{{ show.series_name }}</td>
                    <td>{{ show.series_status }}</td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'footer.html' %}