    {% include 'header.html' %}
    <div class="nousa-content">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">TheTVDB</th>
                  <th scope="col">IMDb</th>
                  <th scope="col">Drop it</th>
                </tr>
            </thead>
            <tbody>
                {% for show in myshows %}
                <tr>
                    <form action="/delete_show" method="post">
                    <td>{{ show.series_name }}</td>
                    <td>{{ show.series_status }}</td>
                    <td>
                    {% if show.series_ext_thetvdb %}
                    <a href="http://thetvdb.com/search?query={{ show.series_ext_thetvdb }}" class="link-success">TheTVDB</a>
                    {% endif %}
                    </td>
                    <td>
                    {% if show.series_ext_imdb %}
                    <a href="http://imdb.com/title/{{ show.series_ext_imdb }}" class="link-warning">IMDb</a>
                    {% endif %}
                    </td>
                    <td><input type="hidden" name="show.series_id" value="{{ show.series_id }}"><button onclick="return confirmDelete('{{ show.series_name }}')" type="submit" class="btn btn-primary">Delete</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'footer.html' %}